<div class="container">
  <h1>Welcome to your Dashboard!</h1>
  <p>Hello, Generic User!</p>
  <div class="dashboard_btn"><h2>Create Survey</h2></div>
  <div class="dashboard_btn">
    <h2 id="my_surveys">My Surveys</h2>
  </div>
  <div class="my_hidden_surveys">
    <ul id="my_list">
      <% @my_surveys.each do |row| %>
      <li id="my_list_item"><a href="/surveys/<%= row.id %>"><%= row.title %></a></li>
      <% end %>
    </ul>
  </div>
  <div class="dashboard_btn">
    <h2 id="all_surveys">All Surveys</h2>
  </div>
  <div class="hidden_surveys">
    <ul id="list">
      <% @all_surveys.each do |row| %>
      <li id="my_list_item"><a href="/surveys/<%= row.id %>"><%= row.title %></a></li>
      <% end %>
    </ul>
  </div>
</div>
