<div class="container">
  <h1>Welcome to your Dashboard!</h1>
  <p>Hello, Generic User!</p>
  <div class="dashboard_btn"><h2>Create Survey</h2></div>
  <div class="dashboard_btn">
    <h2>Your Surveys</h2>
  </div>
  <div class="my_hidden_surveys">
    <ul>
      <li id="list_item1">I am list item number 1</li>
      <li id="list_item2">I am list item number 2</li>
      <li id="list_item3">I am list item number 3</li>
    </ul>
  </div>
  <div class="dashboard_btn">
    <h2 id="all_surveys">All Surveys</h2>
  </div>
  <div class="hidden_surveys">
    <ul>
      <li id="list_item1">I am list item number 1</li>
      <li id="list_item2">I am list item number 2</li>
      <li id="list_item3">I am list item number 3</li>
    </ul>
  </div>
</div>
