  <div class="container home">

  <h1 class="home">"Welcome to These Damn Surveys"</h1>
  <p><%= @message %></p>
<!--   <h3><a href = "/sign_in" id='sign_in'>Sign In </a></h3>
 -->  <!-- <h3><a href="/sign_up" id='sign_up'>Create a new account</a></h3> -->


<div id ="signin">
  <h6><%= @error %></h6>
</div>
 <div class="column">
  <h3>Sign In:</h3>
    <form id="sign-in" class="form" 
       action="/signin" method="POST">
      <input type="text" placeholder="Email" name="email">
      <input type="password" placeholder="Password" name="password">
      <input type="submit" value="Sign In" class="button">

    </form>
    <br>
  <h3>Create New Account:</h3>
    <form id="sign-up" class="form" action="/signup" method="POST">
      <input type="text" placeholder="Name" name="user[name]">
      <br>
      <input type="text" placeholder="Email" name="user[email]">
      <br>
      <input type="password" placeholder="Password" name="user[password]">
      <br>
      <input type="password" placeholder="Confirm password" name="user[password_confirmation]">
      <br>
      <br>
      <input type="submit" value="Sign Up" class="button">
    </form>
  </div>
  </form>
 </div>
</div>
  





  

