<div class="container">
  <div id="survey_header">
    <form method="post" action="#">
      <div id="survey_name">

      <label for="title">Survey Name</label>
      <input type="text" name="title">
      </div>

      <div id="category">
        <label for="category">Please Choose a category</label>
        <select name="category">
          <option value="cat1">cat1</option>
          <option value="cat2">cat2</option>
          <option value="cat3">cat3</option>
          <option value="cat4">cat4</option>
        </select>
        <button type="submit">Submit Survey</button>


      </div>
    </form>
  </div>
  <div id="question_location">

  </div>
  <a href="#">Add Question</a>
</div>
