body {
  font-family: sans-serif, 'Montserrat', futura;
  background-color: #191724;
}

.container {
  margin: 0px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  border-radius: 8px;
  background-image:
    linear-gradient(
      #049FC0, #05D3FF
    );
  color: #F2F1F5;
}

.dashboard_btn {
  position: float;
  margin: 0px 0px 10px 40px;
  width: 520px;
  height: 70px;
  border-radius: 8px;
  background-image:
    linear-gradient(
      #C8DE98, #C5DA54
    );
  color: #191724;
}

h2 {
  padding: 20px;
}

.dashboard_btn a {
  text-decoration: none;
}

li {
  display: none;
  padding: 7px;
  text-decoration: none;
}

#sign-out {
  float: right;
  padding: 7px;
  color: yellow;
  text-decoration: none;
}

.my_hidden_surveys {
  display: none;
  position: float;
  margin: 0px 0px 10px 40px;
  width: 520px;
  border-radius: 8px;
  background-image:
    linear-gradient(
      #F2F1F5, #CCCBCF
    );
  color: #191724;
}

.hidden_surveys {
  display: none;
  position: float;
  margin: 0px 0px 10px 40px;
  width: 520px;
  border-radius: 8px;
  background-image:
    linear-gradient(
      #F2F1F5, #CCCBCF
    );
  color: #191724;
}

th {
  text-align: left;
}

input {
  margin: 3px;
  padding: 3px;
  border-radius: 3px;
}

/*New Survey*/

#survey_header {
  margin: auto;
  height: 300px;
  width: 450px;
  border: 2px solid gray;
}

#survey_header div {
  margin: auto;
  margin-top: auto;
  height: 150px;
  width: 250px;
}

.question_input {
  background-color: #fffaf0;
  border-radius: 10px;
  margin: auto;
  margin-top: 5px;
  height: 300px;
  width: 450px;
  border: 2px solid gray;
  color: black;
}

.question_input form {
  width:300px;
  margin: auto;
}

.add_poss {
  float: right;
  height: 25px;
  width: 25px;
}

#errors li {
  display:block;
  color:red;
}

nav {
  width: 100%;
  height: 36px;
  font-family: 'Montserrat', sans-serif;
  background-color: #658C11;
  color: #CBCCA0;
}

nav .brand, nav .brand a {
  margin-left: 25px;
  font-size: 18pt;
  text-decoration: none;
  color: #CBCCA0;
  width: 60%;
  display: inline-block;
}

#logo {
  margin: 4px 0px 0px 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 60pt;
  opacity: 0.1;
  letter-spacing: -17px;
  text-decoration: none;
  color: #8BCCA0;
  width: 60px;
  display: inline-block;
}

nav ul {
  display: inline-block;
  width: 30%;
  text-align: right;
}

nav li {
  margin-right: 25px;
  display: inline;
}

nav li a {
  color: #CBCCA0;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}
